<!DOCTYPE html>
<html>
  <head>
    <meta content = 'text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %>, welcome at home !</h1>
    <p>
      You'r register at monsite.fr with this email : <%= @user.email %>
    </p>
    <p>
      For you private space, click here <%= @url %>
    </p>
    <p> See you later on monsite.fr</p>
  </body>
</html>
